
@{
    ViewData["Title"] = "Политика конфединциальности";
}
<link rel="stylesheet" href="~/css/PP.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/StyleHome.css" asp-append-version="true" />
<div class="content">
    <h1>Политика конфиденциальности</h1>
    <p>
        Настоящая политика конфиденциальности (далее — Политика) действует в отношении всей информации, включая персональные данные в понимании применимого законодательства (далее — «Персональная информация»), которую ООО «ЛЭТУАЛЬ» и/или его аффилированные лица, в том числе входящие в одну группу с ООО «ЛЭТУАЛЬ» (далее — «Лэтуаль»), могут получить о Вас в процессе использования Вами любых сайтов, программ, продуктов и/или сервисов Лэтуаля (далее вместе — «Сервисы»), информацию о которых Вы можете найти на сайтах letual.ru, letual.com, letual.by, letual.kz, letual.com.tr, letual.co.il и других принадлежащих Лэтуалю сайтах (далее вместе — «Сайты»), а также в ходе исполнения Лэтуалем / его аффилированными лицами любых соглашений и договоров, заключенных с Вами в связи с использованием Вами Сервисов. Лэтуаль может также получать Персональную информацию от своих партнеров (далее — «Партнеры»), сайты, программы, продукты или сервисы которых Вы используете (например, от рекламодателей Лэтуаля или служб такси), из других источников с общедоступными персональными данными. В соответствующих случаях передача Персональной информации возможна только в случаях, установленных применимым законодательством, и осуществляется на основании специальных договоров между Лэтуалем и каждым из Партнеров.

        Пожалуйста, обратите внимание, что использование любого из Сайтов и/или Сервисов может регулироваться дополнительными условиями, которые могут вносить в настоящую Политику изменения и/или дополнения, и/или иметь специальные условия в отношении персональной информации, размещенные в соответствующих разделах документов для таких Сайтов и/или Сервисов.
    </p>
</div>
<!-- Блок с кнопкой для скачивания файла -->
<div class="download-section">
    <a href="/privacy_policy.pdf" target="_blank" class="download-btn">Открыть PDF</a>
</div>
</div>
<style>
    /* Стили контента */
    .content {
        font-family: Arial, sans-serif;
        line-height: 1.6;
    }

    /* Стили блока загрузки */
    .download-section {
        margin-top: 20px;
        text-align: center;
    }

    .download-btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-size: 16px;
        transition: all 0.3s ease;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

        .download-btn:hover {
            background-color: #45a049;
            filter: brightness(90%);
        }
</style>